<div class="card gedf-card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="45" src="{{ asset('images/profile.jpg') }}" alt="">
                </div>
                <div class="ml-2">
                    <div class="h5 m-0">{{ post.member }}</div>
                </div>
            </div>
            <div>
                
                {% if(post.member.id == app.user.id) %}
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                        <form class="form-inline" method="post" action="{{ path('app_post_delete', {id: post.id}) }}" onsubmit="return confirm('{{'confirm.delete'|trans}}');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                            <button type="submit" class="dropdown-item">{{ 'delete'|trans }}</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="text-muted h7 mb-2"> 
            <i class="fa fa-clock-o"></i> {{ post.createdAt|date('d M Y H:i') }} 
            <i class="fa {{post.getAuthIcon()}}" title="{{ post.credential|trans }}"></i>
        </div>
        
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img src="{{ asset('uploads/' ~ post.images) }}" width="100%"/>
                </div>
                
            </div>
        </div>
            
        <p class="card-text">
            {{ post.content }}
        </p>
        
        {% for comment in post.comments %}
            <div class="comment" style="border-top: 1px solid #eaeaea">
                <div class="comment-text"><i class="fa fa-comment"></i> {{ comment.member }}: {{ comment.content }}</div>
                <div class="text-muted h7 mb-2"><i class="fa fa-clock-o"></i>: {{ comment.createdAt|date('d M Y H:i') }}</div>
            </div>
        {% endfor %}
        <div id="commentForm"></div>
    </div>
    <div class="card-footer">
        <a href="{{ path('app_likes', {id: post.id}) }}" class="card-link">
            {{ post.likes|length > 0 ? post.likes|length:'' }} 
            {% if post.isLikes(app.user) %}
                <span style="color: #F00"><i class="fa fa-close"></i> {{ 'dislike'|trans }}</span>
            {% else %}
                <span><i class="fa fa-gittip"></i> {{ 'like'|trans }}</span>
            {% endif %}
        </a>
        <a href="javascript:;" class="card-link" attr-href="{{ path('app_comment', {id: post.id}) }}" onclick="openForm(this)">
            {{ post.comments|length > 0 ? post.comments|length:'' }} 
            <i class="fa fa-comment"></i> {{ 'comment'|trans }}
        </a>
    </div>
</div>