{{ form_start(form) }}

{{ form_widget(form.content, {attr: {class: "form-control"}}) }}

    <button type="button" class="btn btn-outline-primary pull-right" onclick="closeForm()"><span class="fa fa-close"></span> {{ 'close'|trans }}</button>
    <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-comment"></span> {{ 'send'|trans }}</button>
    
{{ form_end(form) }}