{% extends "base.html.twig" %}

{% block body %}
    
    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                {% include '_profile.twig' %}
            </div>
            
            <div class="col-md-6 gedf-main">
                {{ include('_flashes.twig') }}
                <div class="card gedf-card">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            <div class="custom-file">
                                {{ form_widget(form.images, {attr:{class:"custom-file-input", id: "customFile"}}) }}
                                <label class="custom-file-label" for="customFile">{{ 'upload_image'|trans }}</label>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.content, {attr:{class:"form-control", rows: 6, placeholder: "your_think"|trans}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.credential, {attr:{class:"form-control"}}) }}
                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">{{ 'share'|trans }}</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                
                {% for post in datas %}
                    {{ include('pages/homepage/_post.twig', {post: post}) }}
                {% endfor %}
            </div>
                
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body"><div class="h5 m-0" style="text-align: center">{{ 'sugested'|trans }}</div></div>
                </div>
                {% for friend in sugested  %}
                {{ include('_sugested.twig', {data: friend}) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script>
        function openForm(obj)
        {
            let object = $(obj);
            let url = object.attr('attr-href');
            $.ajax({
                url: url, 
                type: "GET",
                beforeSend: function (e){
                    $('#commentForm').html('{{'open_form'|trans}}');
                },
                success: function (res){
                    $('#commentForm').html(res);
                }
            });
        }
        
        function closeForm()
        {
            $('#commentForm').html("");
        }
    </script>
{% endblock %}