{% extends '@KmjUser/security/base.html.twig' %}

{% block title %}{{ app_name }} : {{ 'login'|trans }}{% endblock %}

{% block body %}
    <p style="text-align: center">{{ 'login'|trans }}</p>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    {% include '_flashes.twig' %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a>
        </div>
    {% endif %}
    <form method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <div class="form-group has-feedback">
            <input type="text" name="username" class="form-control" value="{{ last_username }}" placeholder="Username" required autofocus>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" name="password" class="form-control" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'login'|trans }}</button>
            </div>
          
            <div class="col-xs-6">
                <a href="{{ path('app_register') }}" class="btn btn-success btn-block btn-flat">{{ 'register'|trans }}</a>
            </div>
        </div>
    </form>
{% endblock %}
