<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="45" src="{{ asset('images/profile.jpg') }}" alt="">
                </div>
                <div class="ml-2">
                    <div class="h5">@{{ app.user.username }}</div>
                </div>
            </div>
        </div>
        
        <div class="h7 text-muted">{{ 'name'|trans }} : {{ app.user.name }}</div>
        <div class="h7">Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js, etc.</div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">{{ 'following'|trans }}</div>
            <div class="h5">{{ app.user.networks|length }}</div>
        </li>
        <li class="list-group-item"><a href="{{ path('kmj_user_logout') }}" class="btn btn-primary pull-right">{{ 'logout'|trans }}</a></li>
    </ul>
</div>