<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="45" src="{{ asset('images/profile.jpg') }}" alt="">
                </div>
                <div class="ml-2">
                    <div class="h5 m-0">@{{ data.username }}</div>
                    <div class="h7 text-muted">{{ data.name }}</div>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{ path('app_follow', {id: data.id}) }}" class="btn btn-primary btn-sm btn-block pull-right">{{ 'follow'|trans }}</a></li>
        </ul>
    </div>
</div>