{% extends '@KmjUser/security/base.html.twig' %}

{% block title %}{{ app_name }} : {{ 'register'|trans }}{% endblock %}

{% block body %}
    <p style="text-align: center">{{ 'register'|trans }}</p>
    
    {% include '_flashes.twig' %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a>
        </div>
    {% endif %}
    <form method="post">
        <input type="hidden" name="_token" value="{{ csrf_token('register') }}"/>
        <div class="form-group has-feedback">
            <input type="text" name="name" class="form-control" value="{{ name }}" placeholder="{{ 'name'|trans }}" required autofocus>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" name="email" class="form-control" value="{{ email }}" placeholder="{{ 'email'|trans }}" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" name="username" class="form-control" value="{{ username }}" placeholder="{{ 'username'|trans }}" required autofocus>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" name="password" class="form-control" placeholder="{{ 'password'|trans }}">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button type="submit" class="btn btn-success btn-block btn-flat">{{ 'register'|trans }}</button>
            </div>
          
            <div class="col-xs-6">
                <a href="{{ path('kmj_user_login') }}" class="btn btn-primary btn-block btn-flat">{{ 'login'|trans }}</a>
            </div>
        </div>
    </form>
{% endblock %}
